<%- contentFor('head') %> 
    <title>Chi tiết sách</title>
<%- contentFor('body') %>
<% if (currentUser != null) { %> 
    <% if (currentUser.role.name=='ADMIN') { %>
        <%- include('../particals/headerAdmin') %>
    <% } else if (currentUser.role.name=='MOD1') { %>
        <%- include('../particals/headerMod1') %>
    <% } else if (currentUser.role.name=='MOD2') { %> 
        <%- include('../particals/headerMod2') %>
    <% } else { %>
        <%- include('../particals/header') %>
    <% } %> 
<% } else { %> 
    <%- include('../particals/header') %>
<% } %> 

<div class="container">
    <div class="duong-dan-muc">
        <a href="/trangChu">Trang chủ</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="">Chi tiết sách</a>
    </div>
    <div class="timkiem">
        <div class="row mb-3">
            <div class="col-sm-4">
                <img class="img-fluid" src="<%= book.coverImage %>" alt="<%= book.name %>">
            </div>
            <div class="col-sm-8">
                <h4><%= book.name %></h4>
                <div class="row">
                    <div class="col-sm-6">
                        <h6>Nhà cung cấp : <span style="color: blue;"><%= book.bookPublisher.name %></span></h6>
                        <h6>Tác giả : <span style="color: blue;"><%= book.author.name %> </span></h6>
                        <h6>Giá bìa : <span style="color: red;"><%= (book.coverPrice).toLocaleString('vi-VN') %> đ</span></h6>
                    </div>
                    <div class="col-sm-6">
                        <h6>Số trang : <span><%= book.pageCount %></span></h6>
                        <h6>Năm xuất bản : <span><%= book.publishedYear%></span></h6>
                    </div>
                    <div class="mb-2">
                        <% for( let i = 1; i <= 5; i++ ) { %>
                            <% if (i <= book.starRating ) { %>
                                <i class='fa fa-star yellowstar'></i>
                            <% }else{ %>
                                <i class='fa fa-star-o'></i>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                
                <h6>Giới thiệu về sách :</h6>
                <div class="book-introduction">
                    <p><%= book.description %> </p>
                </div>
                <button id="btnAddBookToCart" type="button" data-id-book="<%= book.id %>"  class="btn btn-primary muonsach js-muon-sach">Mượn sách</button>
            </div>
        </div>
        <!-- Bình luận -->
        <div class="binhluantitle mb-3">
            <h5>Các bình luận của độc giả</h5>
        </div>
        <div>
            <ul class="js-binh-luan" style="list-style: none;">
                <% for( let i = 0; i < comments.length; i++ ) { %>
                    <% var comment = comments[i] %> 
                    <li>
                        <% if (i > 0) { %>
                            <hr>
                        <% } %>
                        <div class="row" >
                            <div class="col-sm-1" style="text-align: center;">
                                <img class="img-fluid" style="border-radius: 50%;" src="<%= comment.reader.img %>" alt="">
                            </div>
                            <div class="col-sm-11">
                                <div style="display: flex; justify-content: space-between;">
                                    <span style="font-weight: 500;"><%= comment.reader.displayName %></span>
                                    <span><%= comment.dateComment.toLocaleDateString('vi-VN') %></span>
                                </div>
                                <div class="mb-2">
                                    <% for( let i = 0; i < 5; i++ ) { %>
                                        <% if (i < comment.starRating) { %>
                                            <i class='fa fa-star yellowstar'></i>
                                        <% }else{ %>
                                            <i class='fa fa-star-o'></i>
                                        <% } %>
                                    <% } %>
                                </div>
                                <p style="background-color: #e8f0fe; border-radius: 5px; padding: 5px;">
                                    <%= comment.content %>
                                </p>
                            </div>
                        </div>
                    </li>
                <% } %>
            </ul>
            <% if (comment) { %>
                <div class="text-center">
                    <button id="btn-xem-binh-luan" class="nutbam js-xem-binh-luan" data-bookId="<%= book._id %>">Xem thêm</button>
                </div>
            <% }else{ %>
                <div class="text-center">
                    <span>Sách chưa có bình luận từ độc giả</span>
                </div>
            <% } %> 
        </div>
    </div>

    <!-- Gợi ý sách cùng thể loại -->
    <div class="container">
        <div class="row timkiem">
            <h4 style="padding-bottom: 10px;">Những cuốn sách cùng thể loại</h4>
            <% relatedBooks.forEach(book => { %>
                <div class="card-container col-sm-3">
                    <div class="card-base" style="height: 360px !important;">
                        <a href="/chiTietSach/<%= book.id %> "><img class="img-fluid img-card" src="<%= book.coverImage %> "></a>
                        <!-- <div class="btn-base">
                            <p class="text-base addToCart">Mượn sách</p>
                        </div> -->
                        <button class="btn-base js-muon-sach" data-id-book="<%= book.id %>">Mượn sách</button>
                        <div class="text-content">
                            <div class="limit-text ten-sach"><i class="fa-solid fa-book"></i> <%= book.name %> </div>
                            <div class="limit-text tac-gia"><i class="fa-solid fa-user"></i> <%= book.author.name %> </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<%- include('../particals/footer') %>
<script src="/javascript/TrangChu.js"></script>
<script src="/javascript/chiTietSach.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>