<%- contentFor('head') %> 
    <title>Giỏ sách</title>
<%- contentFor('body') %>
<%- include('../particals/header') %>
<div class="container">
    <div class="duong-dan-muc">
        <a href="/1">Trang chủ</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="">Giỏ sách</a>
    </div>
    <% if (!cart) { %>
        <div class="container">
            <div class="row">
                <div class="timkiem" style="border-radius: 10px;text-align: center; margin-top: 20px;">
                    <img class="empty-bag" src="/icon/empty-bag.png" alt="empty-bag">
                    <p>Hiện tại giỏ sách đang trống.</p>
                    <p>Hãy quay lại trang chủ và chọn sách để mượn</p>
                    <button type="button" class="btn btn-primary">Quay lại trang chủ</button>
                </div>
            </div>
        </div>
    <% }else{ %>
        <div class="container">
            <div class="row" style="justify-content: space-between; margin-top: 20px;">
                <div class="timkiem col-sm-8" style="width: 65%; border-radius: 10px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ảnh bìa</th>
                                <th scope="col">Tên sách</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% cart.forEach(itemCart => { %>
                                <tr>
                                    <th scope="row">1</th>
                                    <td><img src="<%= itemCart.coverImage %>" alt="<%= itemCart.name %>" class="img-fluid"></td>
                                    <td><%= itemCart.name %></td>
                                    <td><i class="fa-solid fa-trash-can delete-book"></i></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
        
                <div class="timkiem col-sm-4 customer-info">
                    <h4>Thông tin người mượn sách</h4>
                    <p>Họ và tên : <span>Võ Xuân Tú</span></p>
                    <p>Số điện thoại : <span>0988835462</span></p>
                    <p>Email : <span>voxuantu1235@gmail.com</span></p>
                    <p>Địa chỉ : <span>Khối 4B, thị trấn Eaknop, huyện Eakar, tỉnh ĐăkLăk</span></p>
                    <div class="mb-2" style="text-align: center;">
                        <button type="button" class="btn btn-primary">Mượn sách</button>
                        <button type="button" class="btn btn-danger" id="deleteAll">Xóa tất cả</button>
                    </div>
                    <a href="#">Nếu thông tin sai hãy nhấn vào đây để chỉnh sửa</a>
                </div>
            </div>
        </div>
    <% } %> 
</div>
<%- include('../particals/footer') %>
