<%- contentFor('head') %> 
    <title>Giỏ sách</title>
<%- contentFor('body') %>
<%- include('../particals/header') %>
<div class="container">
    <div class="duong-dan-muc">
        <a href="/trangChu">Trang chủ</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="">Giỏ sách</a>
    </div>
    <% if (cart.length == 0 || !cart) { %>
        <div class="container">
            <div class="row">
                <div class="timkiem" style="border-radius: 10px;text-align: center; margin-top: 20px;">
                    <img class="empty-bag" src="/icon/empty-bag.png" alt="empty-bag">
                    <p>Hiện tại giỏ sách đang trống.</p>
                    <p>Hãy quay lại trang chủ và chọn sách để mượn</p>
                    <a href="/trangChu">Quay lại trang chủ</a>
                </div>
            </div>
        </div>
    <% }else{ %>
        <div class="container">
            <div class="row" style="justify-content: space-between; margin-top: 20px;">
                <div class="timkiem col-sm-8" style="width: 65%; border-radius: 10px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ảnh bìa</th>
                                <th scope="col">Tên sách</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                           <% for( let index = 0; index < bookCart.length; index++ ) { %>
                                <tr>
                                    <th scope="row"><%= index+1 %></th>
                                    <td><img src="<%= bookCart[index].coverImage %>" alt="<%= bookCart[index].name %>" class="img-fluid"></td>
                                    <td><%= bookCart[index].name %></td>
                                    <td><a class="js-delete-item-cart" data-id-book="<%= bookCart[index].id %>" ="" href=""><i class="fa-solid fa-trash-can delete-item-cart"></i></a></td>
                                </tr>
                           <% } %>
                        </tbody>
                    </table>
                </div>
        
                <div class="timkiem col-sm-4 customer-info">
                    <h4>Thông tin người mượn sách</h4>
                    <p>Họ và tên : <span><%= currentUser.displayName %></span></p>
                    <p>Số điện thoại : <span><%= currentUser.phone %></span></p>
                    <p>Email : <span><%= currentUser.email %></span></p>
                    <p>Địa chỉ : <span><%= currentUser.address %></span></p>
                    <div class="row mb-2" style="text-align: center;">
                        <div class="col-sm-6">
                            <form id="FormMuonSach" action="/gioSach/muonSach" method="post">
                                <button type="submit" class="btn btn-primary">Mượn sách</button>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <form  action="/gioSach/xoaHetSachKhoiGio" method="post">
                                <button type="submit" class="btn btn-danger">Xóa tất cả</button>
                            </form>
                        </div>
                    </div>
                    <a href="#">Nếu thông tin sai hãy nhấn vào đây để chỉnh sửa</a>
                </div>
            </div>
        </div>
    <% } %> 
</div>
<%- include('../particals/footer') %>

<% if (isDeleted) { %>
    <script>
        Swal.fire({ icon: 'success', 
                    title: 'Thành công', 
                    text: 'Xóa sách khỏi giỏ thành công!'
                })
    </script>
<% } %>
<script>
$(document).ready(function(){
    $('.js-delete-item-cart').each(function(i,obj){
        $(this).click(function(){
            $.ajax({
                url:'/gioSach/xoaSachKhoiGio',
                type:'post',
                data: {
                    id: $(this).attr('data-id-book')
                },
                success: function(data, status){
                    if(data == "Thanh cong"){
                        window.location.replace('/gioSach')
                    }else{
                        Swal.fire({
                            icon: 'error',
                            title: 'Thất bại',
                            text: 'Xóa sách khỏi giỏ trong giỏ',
                        })
                    }
                },
                error : function(err){
                    console.error(err)
                }
            })
        })
    })
})
</script>
<script defer src="/javascript/socket.js"></script>
