<%- contentFor('head') %> 
    <title>Thanh toán online</title>
<%- contentFor('body') %> 

<% if (currentUser != null) { %> 
  <% if (currentUser.role.name=='ADMIN') { %>
      <%- include('../particals/headerAdmin') %>
  <% } else if (currentUser.role.name=='MOD1') { %>
      <%- include('../particals/headerMod1') %>
  <% } else if (currentUser.role.name=='MOD2') { %> 
      <%- include('../particals/headerMod2') %>
  <% } else { %>
      <%- include('../particals/header') %>
  <% } %> 
<% } else { %> 
  <%- include('../particals/header') %>
<% } %> 


<div class="container" style="min-height: 500px;">
    <div class="duong-dan-muc">
        <a href="/trangCaNhan">Trang chủ</a>
        <i class="fa-solid fa-angle-right"></i>
        <a>Thanh toán online</a>
    </div>
    <div class="timkiem mb-3" style="min-height: 450px;">
        <div>
            <% if (code == "00") { %>
                <div class="main-container">
                    <div class="check-container">
                        <div  class="check-background">
                            <svg  viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path  d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="check-shadow"></div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <p style="color: #41d67c; font-weight: bold; font-size: large;">Giao dịch thành công</p>
                </div>
            <% } else { %>
                <div style="text-align: center;">
                    <p>Giao dịch Thất bại</p>
                </div>
            <% } %> 
        </div>
        <div style="text-align: center;" class="mt-3">
            <a class="nutbam" href="/trangCaNhan">Quay về trang cá nhân</a>
        </div>
    </div>
</div>
<%- include('../particals/footer') %>