<%- contentFor('head') %> 
    <title>Trang cá nhân</title>
<%- contentFor('body') %>

<% 
    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result;
    } 
    function subtractDays(date){
        var date2 = new Date();
        var date1 = new Date(date)
        var time_difference = date1.getTime() - date2.getTime();
        return Math.floor(time_difference/(1000 * 60 * 60 * 24));
    }
%> 


<% if (currentUser.role.name=='ADMIN') { %>
    <%- include('../particals/headerAdmin') %>
<% } else if (currentUser.role.name=='MOD1') { %>
    <%- include('../particals/headerMod1') %>
<% } else if (currentUser.role.name=='MOD2') { %> 
    <%- include('../particals/headerMod2') %>
<% } else { %>
    <%- include('../particals/header') %>
<% } %> 

<div class="container">
    <div class="duong-dan-muc">
        <a href="/trangChu">Trang chủ</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="">Trang cá nhân</a>
    </div>
    <div class="timkiem mb-1">
        <form id="FormChinhSua" action="/trangCaNhan/<%= currentUser.id%>?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-4 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <img class="anhDaiDien" id="avatar" src="<%= currentUser.img %> " alt="BupBeRaggedyAnn">
                    </div>
                    <input type="file" id="imgUpload" style="display: none" name="img"
                        onchange="ShowImage(event)" accept="image/png, image/jpeg">
                    <button class="nutbam position-absolute bottom-0 start-50 translate-middle-x"
                        type="button" onclick="OpenImgDialog()">Thay đổi ảnh</button>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="position-relative mb-3">
                            <h5 class="title_canhan">Thông tin cá nhân</h5>
                            <div class="position-absolute top-50 end-0 translate-middle-y">
                                <a onclick="toggleEdit()" class="btnEdit"><i class="fa-solid fa-user-pen"
                                        data-bs-toggle="tooltip" data-bs-placement="bottom"
                                        title="Chỉnh sửa thông tin"></i></a>
                                <i onclick="OpenModalChangePass()" class="fa-solid fa-key" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Đổi mật khẩu"></i>
                            </div>
                        </div>
                        <div class="thongtincanhan">
                            <div class="row mb-2">
                                <label class="col-sm-2 col-form-label">Họ và tên :</label>
                                <div class="col-sm-10">
                                    <label id="lbHoTen" class="col-form-label tieude"><%= currentUser.displayName %> </label>
                                    <div class="form-group">
                                        <input type="text" class="field hide-element" id="displayName" name="displayName" 
                                        value="<%= currentUser.displayName %>">
                                        <span class="errorMessage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-form-label">Năm sinh :</label>
                                <div class="col-sm-10">
                                    <label id="lbNamSinh" class="col-form-label tieude"><%= (currentUser.birth).toLocaleDateString('vi-VN') %></label>
                                    <div class="form-group">
                                        <input type="date" class="field hide-element" id="birth" name="birth" 
                                        value="<%= currentUser.birth == null ? '' : currentUser.birth.toISOString().split('T')[0] %>">
                                        <span class="errorMessage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-form-label">Email :</label>
                                <div class="col-sm-10">
                                    <label id="lbEmail" class="col-form-label tieude"><%= currentUser.email %></label>
                                    <div class="form-group">
                                        <input type="email" class="field hide-element" id="email" name="email" 
                                        value="<%= currentUser.email %>">
                                        <span class="errorMessage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-form-label">Số điện thoại:</label>
                                <div class="col-sm-10">
                                    <label id="lbSdt" class="col-form-label tieude"><%= currentUser.phone %></label>
                                    <div class="form-group">
                                        <input type="tel" class="field hide-element" id="sodt" name="phone" 
                                        pattern="[0-9]{3}[0-9]{4}[0-9]{3}" value="<%= currentUser.phone %>">
                                        <span class="errorMessage"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-form-label">Địa chỉ :</label>
                                <div class="col-sm-10">
                                    <label id="lbDiaChi" class="col-form-label tieude"><%= currentUser.address %></label>
                                    <div class="form-group">
                                        <input type="text" class="field hide-element" id="diachi" name="address" 
                                        value="<%= currentUser.address %>">
                                        <span class="errorMessage"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="nuteditThongTin">
                                <button type="submit" class="nutbam">Lưu</button>
                                <button type="button" class="nutbamred">Hủy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="timkiem thong-tin-the mb-3">
                <h5>THÔNG TIN THẺ</h5>
                <div class="row">
                    <p>Mã thẻ</p>
                    <p>MF32313</p>
                </div>
                <div class="row">
                    <p>Hạn thẻ</p>
                    <p>20/3/2022</p>
                </div>
                <div class="gia-han-the">
                    <button class="nutbam">Gia hạn thẻ</button>
                </div>

            </div>
        </div>
        <div class="col-sm-8">
            <div class="timkiem lich-su mb-3 main-datatable">
                <h5>LỊCH SỬ MƯỢN SÁCH</h5>
                <table id="table-lich-su-muon-sach" class="table mb-3 cust-datatable dataTable no-footer">
                    <thead>
                        <tr>
                            <th>Mã mượn sách</th>
                            <th>Ngày mượn</th>
                            <th>Hạn trả</th>
                            <th>Số sách mượn</th>
                            <th>Tình trạng</th>
                            <th>Xem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let i = 0; i < borrowBookCard.length; i++ ) { %>
                            <tr>
                                <td><%="MS" + borrowBookCard[i]._id.toString().slice(16) %></td>
                                <td><%= new Date(borrowBookCard[i].dateBorrow).toLocaleDateString('vi-VN') %></td>
                                <td>
                                    <% if (borrowBookCard[i].statusBorrowBook == 'Đã trả') { %>
                                        <%= new Date(addDays(borrowBookCard[i].dateBorrow, maxBorrowDates)).toLocaleDateString('vi-VN') %>
                                    <% }else if (subtractDays(addDays(borrowBookCard[i].dateBorrow, maxBorrowDates)) > 0) { %>
                                        <mark class="da-tra"><%= new Date(addDays(borrowBookCard[i].dateBorrow, maxBorrowDates)).toLocaleDateString('vi-VN') %></mark>
                                    <% }else{ %>
                                        <mark class="dang-xu-ly"><%= new Date(addDays(borrowBookCard[i].dateBorrow, maxBorrowDates)).toLocaleDateString('vi-VN') %></mark>
                                    <% } %>
                                </td>
                                <td><%= borrowBookCard[i].bookBorrowed.length %></td>
                                <td>
                                    <% if (borrowBookCard[i].statusBorrowBook == 'Đang xử lý') { %>
                                        <mark class="dang-xu-ly">Đang xử lý</mark>
                                    <% }else if (borrowBookCard[i].statusBorrowBook == 'Đang mượn'){ %>
                                        <mark class="dang-muon">Đang mượn</mark>
                                    <% }else { %>
                                        <mark class="da-tra">Đã trả</mark>
                                    <% } %>  
                                </td>
                                <td>
                                    <i class="fa-solid fa-eye js-view-detail" data-status="<%= borrowBookCard[i].statusBorrowBook %>"
                                    data-book-borrowed="<%= borrowBookCard[i]._id %>"
                                    title="Xem chi tiết"></i>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- modal sách đang xử lý -->
    <div class="modal fade modal-dang-xu-ly" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mượn sách</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ảnh bìa</th>
                                <th scope="col">Tên sách</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="nutbamred" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal đang mượn sách -->
    <div class="modal fade modal-dang-muon-sach" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <form id="formGiaHanSach" action="/api/giaHanSach" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title">Sách đang mượn</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ảnh bìa</th>
                                    <th scope="col">Tên sách</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <input id="borrowBookTicketId" type="text" name="borrowBookTicketId" hidden>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- modal sách đã trả -->
    <div class="modal fade modal-tra-sach" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable" style="max-width: 1000px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông tin trả sách</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Ảnh bìa</th>
                                        <th scope="col">Tên sách</th>
                                        <th scope="col">Tình trạng</th>
                                        <th scope="col">Ngày trả</th>
                                        <th scope="col">Bình luận sách</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div id="thong-tin-khac" class="col-sm-4">
                            <div id="ngay-muon" class="thong-tin-tra-sach">
                                <p>Ngày mượn sách :</p>
                                <p>14/1/2022</p>
                            </div>
                            <div id="han-tra" class="thong-tin-tra-sach">
                                <p>Hạn trả sách :</p>
                                <p> 20/1/2022</p>
                            </div>
                            <div id="tinh-trang" class="thong-tin-tra-sach">
                                <p>Tình trạng trả :</p>
                                <p><mark class="da-tra">Đúng hẹn</mark></p>
                            </div>
                            <div id="tien-phat" class="thong-tin-tra-sach">
                                <p>Tiền phạt :</p>
                                <p>0 đ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="nutbamred" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal thay đổi mật khẩu -->
    <div class="modal modal-change-password fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Đổi mật khẩu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="FormDoiMatKhau">
                        <div class="modal-body">
                            <div class="mb-2">
                                <label for="newpass" class="form-label">Mật khẩu mới</label>
                                <input type="text" style="display: none;" id="userId" name="userId" value="<%= currentUser.id%>">
                                <div class="form-group">
                                    <div style="position: relative;">
                                        <input type="password" class="field" name="newpass" id="newpass" placeholder="Mật khẩu mới...">
                                        <i id="show-hid-newpass" class="fa-solid fa-eye show-or-hide-password"></i>
                                    </div>
                                    <span class="errorMessage"></span>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="renewpass" class="form-label">Nhập lại mật khẩu mới</label>
                                <div class="form-group">
                                    <div style="position: relative;">
                                        <input type="password" class="field" id="renewpass" placeholder="Nhập lại mật khẩu mới...">
                                        <i id="show-hid-renewpass" class="fa-solid fa-eye show-or-hide-password"></i>
                                    </div>
                                    <span class="errorMessage"></span>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="code" class="form-label">Mã bảo mật</label>
                                <div class="form-group">
                                    <div class="input-row">
                                        <input type="text" class="field" id="code" name="code" placeholder="Nhập mã...">
                                        <button type="button" id="layMa" data-id-user="<%= currentUser.id%>" class="nutbamgreen">Lấy mã</button>
                                    </div>
                                    <span class="errorMessage"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="nutbamred" data-bs-dismiss="modal">Hủy</button>
                            <button type="submit" id="ThayDoi" class="nutbam">Thay đổi</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    <!-- modal bình luận sách -->
    <div class="modal fade modal-binh-luan-sach" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable" style="max-width: 800px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bình luận sách</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/trangCaNhan/binhLuanSach" method="post">
                        <div class="row">
                            <div class="col-sm-1">
                                <img class="img-fluid" style="border-radius: 50%;" src="<%= currentUser.img %>" alt="">
                            </div>
                            <div class="col-sm-11">
                                <span style="font-weight: 500;"><%= currentUser.displayName %></span>
                                <div style="display: flex;">
                                    <label for="inputEmail4" class="form-label">Nhấn vào 1 ngôi sao để xếp hạng</label>
                                    <div class='rating reader ms-3'>
                                        <i class='fa fa-star-o' id="star1" style="cursor: pointer"></i>
                                        <i class='fa fa-star-o' id="star2" style="cursor: pointer"></i>
                                        <i class='fa fa-star-o' id="star3" style="cursor: pointer"></i>
                                        <i class='fa fa-star-o' id="star4" style="cursor: pointer"></i>
                                        <i class='fa fa-star-o' id="star5" style="cursor: pointer"></i>
                                    </div> 
                                </div>
                                <input type="text" name="starRating" id="voteStart" value="0" hidden>
                                <input type="text" name="bookId" id="bookId" hidden>
                                <input type="text" name="detailBorrowBookId" id="detailBorrowBookId" hidden>
                                <textarea class="field" rows="4" name="content" id="" placeholder="Nhập nhận xét của bạn về sách..."></textarea>
                                <div class="text-end">
                                    <button type="submit" class="nutbam">Bình luận</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../particals/footer') %>
<script src="/javascript/validator.js"></script>
<script src="/javascript/TrangCaNhan.js"></script>
<script src="/javascript/showToolTip.js"></script>