<%- contentFor('head') %> 
    <title>Mượn trả sách</title>
<%- contentFor('body') %> 

<% 
    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result;
    } 
    function subtractDays(date){
        var date2 = new Date();
        var date1 = new Date(date)
        var time_difference = date1.getTime() - date2.getTime();
        return Math.floor(time_difference/(1000 * 60 * 60 * 24));
    }
%> 

<% if (currentUser.role.name=='ADMIN') { %>
    <%- include('../particals/headerAdmin') %>
<% } else if (currentUser.role.name=='MOD2') { %> 
    <%- include('../particals/headerMod2') %>
<% } %> 

<div class="container">
    <div class="duong-dan-muc">
        <a href="/trangChu">Trang chủ</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="/muonTraSach">Mượn trả sách</a>
    </div>
    <div class="timkiem">
        <div class="row">
            <div class="title mb-2">
                <div class="col-sm-8 title">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <h5>Tìm kiếm phiếu mượn</h5>
                </div>
                <div class="col-sm-4">
                    <input id="searchBoxMuonSach" type="text" placeholder="Nhập từ khóa..." class="field">
                </div>
            </div>

            <div class="main-datatable">
                <table id="table-muon-sach" class="table cust-datatable dataTable no-footer">
                    <thead>
                        <tr>
                            <th>Mã mượn sách</th>
                            <th>Tên người mượn</th>
                            <th>Ngày mượn</th>
                            <th>Xem sách mượn</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let i = 0; i < phieuDangXuLy.length; i++ ) { %>
                            <% let user = phieuDangXuLy[i].libraryCard.accountId %>
                            <tr>
                                <td scope="row"><%="MS" + phieuDangXuLy[i]._id.toString().slice(16) %></td>
                                <td><%= user.displayName %></td>
                                <td><%= new Date(phieuDangXuLy[i].dateBorrow).toLocaleDateString('vi-VN') %></td>
                                <td><button type="button" class="nutbam js-modal-muon-sach" data-book-borrowed="<%= phieuDangXuLy[i]._id %>">Xem sách mượn</button></td>
                                <td>
                                    <div style="display: flex;">
                                        <form action="/muonTraSach/choMuon" method="post">
                                            <input type="text" name="borrowBookTicketId" value="<%= phieuDangXuLy[i].id %>" hidden>
                                            <button type="submit" style="border-width: 0; background-color: transparent; padding: 0;" class="me-3"><i class="fa-regular fa-circle-check"></i></button>
                                        </form>
                                        <form action="/muonTraSach/choMuon?_method=DELETE" method="post">
                                            <input type="text" name="borrowBookTicketId" value="<%= phieuDangXuLy[i].id %>" hidden>
                                            <button style="border-width: 0; background-color: transparent; padding: 0;"><i class="fa-regular fa-circle-xmark"></i></button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="timkiem">
        <div class="row" style="padding-left: 20px; padding-right: 20px;">
            <div class="title mb-2">
                <div class="col-sm-8 title">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <h5>Tìm kiếm phiếu trả sách</h5>
                </div>
                <div class="col-sm-4">
                    <input id="searchBoxTraSach" placeholder="Nhập từ khóa tìm kiếm" type="text" class="field">
                </div>
            </div>
            
            <div class="main-datatable">
                <table id="table-tra-sach" class="table cust-datatable dataTable no-footer">
                    <thead>
                        <tr>
                            <th>Mã mượn sách</th>
                            <th>Tên người mượn</th>
                            <th>Ngày mượn</th>
                            <th>Hạn trả</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let i = 0; i < phieuTraSach.length; i++ ) { %>
                            <% let user = phieuTraSach[i].libraryCard.accountId %>
                            <tr>
                                <td scope="row"><%="MS" + phieuTraSach[i]._id.toString().slice(16) %></td>
                                <td><%= user.displayName %></td>
                                <td><%= new Date(phieuTraSach[i].dateBorrow).toLocaleDateString('vi-VN') %></td>
                                <td>
                                    <% if (subtractDays(addDays(phieuTraSach[i].dateBorrow, maxBorrowDates)) > 0 ) { %>
                                        <mark class="da-tra"><%= new Date(addDays(phieuTraSach[i].dateBorrow, maxBorrowDates)).toLocaleDateString('vi-VN') %></mark>
                                    <% }else{ %>
                                        <mark class="dang-xu-ly"><%= new Date(addDays(phieuTraSach[i].dateBorrow, maxBorrowDates)).toLocaleDateString('vi-VN') %></mark>
                                    <% } %>
                                </td>
                                <td>
                                    <button type="submit" class="nutbam js-modal-tra-sach" data-han-tra="<%= addDays(phieuTraSach[i].dateBorrow, maxBorrowDates).toISOString().split('T')[0] %>"
                                    data-borrow-book-ticket-id="<%=phieuTraSach[i].id%>">Trả sách</button>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="timkiem">
        <div class="row" style="padding-left: 20px; padding-right: 20px;">
            <h5 style="text-align: center;">Lịch sử trả sách</h5>
            <div class="title mb-2">
                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                    <input id="searchBoxDaTraSach" placeholder="Nhập từ khóa tìm kiếm" type="text" class="field">
                </div>
            </div>
            <div class="main-datatable">
                <table id="table-da-tra-sach" class="table cust-datatable dataTable no-footer">
                    <thead>
                        <tr>
                            <th>Mã mượn sách</th>
                            <th>Tên người mượn</th>
                            <th>Ngày mượn</th>
                            <th>Trạng thái trả</th>
                            <th>Số sách trả</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let i = 0; i < phieuDaTraSach.length; i++ ) { %>
                            <tr>
                                <td scope="row"><%="MS" + phieuDaTraSach[i].borrowBookTicketId.toString().slice(16) %></td>
                                <td><%= phieuDaTraSach[i].readerName %> </td>
                                <td><%= new Date(phieuDaTraSach[i].dateBorrow).toLocaleDateString('vi-VN') %> </td>
                                <% if (phieuDaTraSach[i].statusBorrowBook == "Trễ hẹn") { %>
                                    <td><mark class="dang-xu-ly">Trễ hẹn</mark></td>
                                <% } else { %>
                                    <td><mark class="da-tra">Đúng hẹn</mark></td>
                                <% } %> 
                                <% if (phieuDaTraSach[i].numberOfBooksReturnedBack < phieuDaTraSach[i].numberOfBookBorrowed) { %>
                                    <td><mark class="dang-xu-ly"><%= phieuDaTraSach[i].numberOfBooksReturnedBack %>/<%= phieuDaTraSach[i].numberOfBookBorrowed %></mark></td>
                                <% } else { %>
                                    <td><mark class="da-tra"><%= phieuDaTraSach[i].numberOfBooksReturnedBack %>/<%= phieuDaTraSach[i].numberOfBookBorrowed %></mark></td>
                                <% } %>
                                <td><button type="button" class="nutbam js-modal-da-tra-sach" data-borrow-book-ticket-id="<%= phieuDaTraSach[i].borrowBookTicketId %>">Xem chi tiết</button></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- modal muon sach -->
    <div class="modal fade modalMuonSach" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sách mượn</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ảnh bìa</th>
                                <th scope="col">Tên sách</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- modal tra sach -->
    <div class="modal fade modalTraSach" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable" style="max-width: 840px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sách trả</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Ảnh bìa</th>
                                        <th scope="col" style="width: 200px;">Tên sách</th>
                                        <th scope="col">Hư hỏng/Mất</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="xacnhantrasach" class="nutbam js-xac-nhan-tra-sach" data-bs-dismiss="modal">Xác nhận trả sách</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal da tra sach -->
    <div class="modal fade modalDaTraSach" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable" style="max-width: 1000px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông tin trả sách</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-7 main-datatable">
                            <h5>Sách đã trả</h5>
                            <table class="table cust-datatable dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th scope="col">Ảnh bìa</th>
                                        <th scope="col">Tên sách</th>
                                        <th scope="col">Ngày trả</th>
                                        <th scope="col">Tình trạng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-5" id="thong-tin-khac">
                            <h5>Thông tin khác</h5>
                            <p>Mã mượn sách : MS001</p>
                            <p>Họ và tên : Võ Xuân Tú</p>
                            <p>Ngày mượn : 20/2/2022 10:15:20 AM</p>
                            <p>Hạn trả : 26/2/2022</p>
                            <p>Ngày trả : 1/3/2022 10:15:20 AM</p>
                            <p>Trạng thái trả : <mark class="dang-xu-ly">Trễ hẹn</mark><span> ( trễ 4 ngày )</span></p>
                            <p>Số sách trả : <mark class="da-tra">3/3</mark></p>
                            <p>Số tiền phạt (nếu có) : 20.000 đ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../particals/footer') %>