<%- contentFor('head') %> 
    <title>Mượn trả sách</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.min.js"></script> -->
    <script src="/javascript/html5qrcode.min.js"></script>
<%- contentFor('body') %> 



<% if (currentUser.role.name=='ADMIN') { %>
    <%- include('../particals/headerAdmin') %>
<% } else if (currentUser.role.name=='MOD2') { %> 
    <%- include('../particals/headerMod2') %>
<% } %> 

<div class="container" style="min-height: 500px;">
  <div class="duong-dan-muc">
      <a href="/trangChu">Trang chủ</a>
      <i class="fa-solid fa-angle-right"></i>
      <a href="/quanLyDocGia">Mượn sách offline</a>
  </div>
  <div class="timkiem mb-3" style="min-height: 450px;">
    <div class="row">
      <div class="col-sm-5">
        <div id="reader"></div>
      </div>
      <div class="col-sm-7 main-datatable">
        <form id="form-muon-sach">
          <div class="row mb-2">
            <label class="col-sm-3 col-form-label">Mã thẻ thư viện</label>
            <div class="col-sm-9 form-group">
                <input type="text" class="field" id="libraryCard">
                <span class="errorMessage"></span>
            </div>
          </div>
          <table id="table-sach" class="table mb-2 cust-datatable dataTable no-footer">
            <thead>
                <tr>
                    <th scope="col">Stt</th>
                    <th scope="col">Ảnh bìa</th>
                    <th scope="col">Tên sách</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
          <div class="col-sm-9 form-group">
            <input hidden type="text" class="field" id="so-luong-sach">
            <span class="errorMessage"></span>
        </div>
          <div class="text-end">
            <button class="nutbam">Xác nhận</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../particals/footer') %>

<script src="/javascript/validator.js"></script>

<script src="/javascript/muonSachOffline.js"></script>