<%- contentFor('head') %>
    <title>Quản lý độc giả</title>
<%- contentFor('body') %>

<% if (currentUser.role.name=='ADMIN') { %>
    <%- include('../particals/headerAdmin') %>
<% } else if (currentUser.role.name=='MOD1') { %>
    <%- include('../particals/headerMod1') %>
<% } %> 

<% 
    function addDays(date, days) {
        var result = new Date(date);
        result.setDate(result.getDate() + days);
        return result;
    }

    function subtractDays(date){
        var date2 = new Date();
        var date1 = new Date(date)
        var time_difference = date1.getTime() - date2.getTime();
        return Math.floor(time_difference/(1000 * 60 * 60 * 24));
    }
%> 
<div class="container" style="min-height: 500px;">
    <div class="duong-dan-muc">
        <a href="/trangChu">Trang chủ</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="/quanLyDocGia">Quản độc giả</a>
    </div>
    <div class="row">
        <div id="ql-sach">
            <div class="timkiem mb-2" style="min-height: 600px; position: relative; padding-bottom: 10px;">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <a href="/quanLyDocGia/themDocGia" class="nut-them-moi">
                            <button class="nutbam">Thêm độc giả</button>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-end">
                            <input class="field" type="text" id="searchBox" name="tuKhoa"
                                placeholder="Nhập từ khóa tìm kiếm...">
                        </div>
                    </div>
                </div>
                <div class="main-datatable">
                    <table id="table-doc-gia" class="table mb-3 cust-datatable dataTable no-footer">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã thẻ thư viện</th>
                                <th scope="col">Tên độc giả</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Email</th>
                                <th scope="col">Ngày thẻ hết hạn</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i = 0; i < readers.length; i++ ) { %>
                                <tr>
                                    <td><%= (i+1) %></td>
                                    <td><%= readers[i].idCard %></td>
                                    <td><%= readers[i].accountId.displayName %></td>
                                    <td><%= readers[i].accountId.phone %></td>
                                    <td><%= readers[i].accountId.email %></td>
                                    <td>
                                        <% if (subtractDays(addDays(readers[i].createdDate,180)) <= 7) { %>
                                            <mark class="dang-xu-ly"><%= addDays(readers[i].createdDate,180).toISOString().split('T')[0] %></mark>
                                        <% }else{ %>
                                            <mark class="da-tra"><%= addDays(readers[i].createdDate,180).toISOString().split('T')[0] %></mark>
                                        <% } %> 
                                    </td>
                                    <td>
                                        <a class="js-block-user" data-user-id="<%= readers[i].accountId._id %>">
                                            <i class="fa-solid fa-ban" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                            title="Chặn người dùng"></i>
                                        </a>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/showToolTip.js"></script>
<script src="/javascript/validator.js"></script>
<script src="/javascript/quanLyDocGia.js"></script>

<%- include('../particals/footer') %>
