<%- contentFor('head') %>
    <title>Quản lý sách</title>
<%- contentFor('body') %>

<% if (currentUser.role.name=='ADMIN') { %>
    <%- include('../particals/headerAdmin') %>
<% } else if (currentUser.role.name=='MOD1') { %>
    <%- include('../particals/headerMod1') %>
<% } %> 

    
<div class="container" style="min-height: 500px;">
    <div class="duong-dan-muc">
        <a href="/trangChu/1">Trang chủ</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="/quanLySach">Quản lý sách</a>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="left_menu timkiem" style="padding: 0 !important;">
                <div class="theloai">
                    <h5>Quản lý</h5>
                </div>
                <div class="dstheloai">
                    <ul>
                        <li><a href="/quanLySach">Sách</a></li>
                        <li><a href="/quanLyTheLoai">Thể loại</a></li>
                        <li><a href="/quanLyNhaXuatBan">Nhà xuất bản</a></li>
                        <li><a href="/quanLyTacGia">Tác giả</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div id="ql-sach">
                <div class="timkiem mb-2" style="min-height: 500px; position: relative;">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <a href="/quanLySach/create" class="nut-them-moi">
                                <button class="nutbam">Thêm sách mới</button>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-end">
                                <input class="field" type="text" id="searchBox" name="tuKhoa"
                                    placeholder="Nhập từ khóa tìm kiếm...">
                            </div>
                        </div>
                    </div>
                    <div class="main-datatable">
                        <table id="table-sach" class="table mb-3 cust-datatable dataTable no-footer">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ảnh bìa</th>
                                    <th scope="col">Tên sách</th>
                                    <th scope="col">Tác giả</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for( let i = 0; i < books.length; i++ ) { %>
                                    <tr>
                                        <td scope="row"><%= i + 1%></th>
                                        <td><img src="<%= books[i].coverImage %>" alt="<%= books[i].name %>"
                                                class="img-fluid"></td>
                                        <td><%= books[i].name %></td>
                                        <td><%= books[i].author.name %></td>
                                        <td><%= books[i].quantity %></td>
                                        <td>
                                            <a class="delete-book" data-id-book="<%= books[i].id %>">
                                                <i class="fa-solid fa-trash-can action-book xoa" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="Xóa sách"></i>
                                            </a>
                                            <a href="/quanLySach/edit/<%= books[i].id %>">
                                                <i class="fa-solid fa-pen-to-square action-book" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="Chỉnh sửa sách"></i>
                                            </a>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/TrangQuanLySach.js"></script>
<script src="/javascript/TrangChu.js"></script>
<script src="/javascript/showToolTip.js"></script>

<%- include('../particals/footer') %>