<%- contentFor('head') %>
    <title>Quản lý thể loại</title>
<%- contentFor('body') %>

<% if (currentUser.role.name=='ADMIN') { %>
    <%- include('../particals/headerAdmin') %>
<% } else if (currentUser.role.name=='MOD1') { %>
    <%- include('../particals/headerMod1') %>
<% } %> 

    
<div class="container" style="min-height: 500px;">
    <div class="duong-dan-muc">
        <a href="/trangChu/1">Trang chủ</a>
        <i class="fa-solid fa-angle-right"></i>
        <a href="/quanLyTheLoai">Quản Lý thể loại</a>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="left_menu timkiem" style="padding: 0 !important;">
                <div class="theloai">
                    <h5>Quản lý</h5>
                </div>
                <div class="dstheloai">
                    <ul>
                        <li><a href="/quanlysach">Sách</a></li>
                        <li><a href="/quanLyTheLoai">Thể loại</a></li>
                        <li><a href="/quanLyNhaXuatBan">Nhà xuất bản</a></li>
                        <li><a href="/quanLyTacGia">Tác giả</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div id="ql-theloai">
                <div class="timkiem mb-2">
                    <div class="input-group them-moi-the-loai mb-2">
                        <a onclick="HienFormThemTheLoai()" class="nut-them-moi">
                            <button class="nutbam">Thêm thể loại mới</button>
                        </a>
                        <form id="FormThemMoi" action="/quanLyTheLoai" method="post">
                            <div class="form-field">
                                <div class="input-row hide-element" id="themtheloai" style="width: 500px;">
                                    <input class="field" type="text" id="categoryName" placeholder="Tên thể loại..." 
                                    name="categoryName" style="width: 81%; padding: 0.5px 1rem; border-radius: 5px;">
                                    <button type="submit" class="nutbam">Lưu</button>
                                </div>
                                <span id="errorMessage" class="errorMessage hide-element"></span>
                            </div>
                        </form>
                        <div id="divSearchBox" style="width: 300px;">
                            <input class="field" style="margin-bottom: 0;" type="text" id="searchBox" name="tuKhoa"
                                placeholder="Nhập từ khóa tìm kiếm...">
                        </div>
                    </div>
                    <div class="main-datatable">
                        <table id="table-the-loai" class="table mb-3 cust-datatable dataTable no-footer">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên thể loại</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for( let index = 0; index < categories.length; index++ ) { %>
                                    <tr>
                                        <td scope="row"><%= index + 1 %></td>
                                        <td><%= categories[index].name %></td>
                                        <td>
                                            <a class="delete-category" data-id-theloai="<%= categories[index].id %>">
                                                <i class="fa-solid fa-trash-can action-book xoa" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="Xóa thể loại"></i>
                                            </a>
                                            <a class="edit-category" data-ten-theloai="<%= categories[index].name %>"
                                                data-id-theloai="<%= categories[index].id %>">
                                                <i class="fa-solid fa-pen-to-square action-book" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="Chỉnh sửa thể loại"></i>
                                            </a>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh sửa thể loại</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <form id="FormChinhSua" action="/quanLyTheLoai?_method=PUT" method="post">
                    <div class="modal-body">
                        <div>
                            <labelclass="form-label">Tên thể loại</label>
                            <input type="text" id="idLoai" name="idLoai" class="form-control" style="display: none;">
                            <div class="form-field">
                                <input type="text" id="tenLoai" name="tenLoai" class="field" placeholder="Tên thể loại...">
                                <span class="errorMessage"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="nutbamred" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="nutbam">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/validator.js"></script>
<script src="/javascript/quanLyTheLoai.js"></script>
<script src="/javascript/showToolTip.js"></script>

<%- include('../particals/footer') %>