<%- contentFor('head') %>
    <title>Quản lý tác giả</title>
<%- contentFor('body') %>
<%- include('../particals/header') %>
    
    <div class="container" style="min-height: 500px;">
        <div class="duong-dan-muc">
            <a href="/trangChu/1">Trang chủ</a>
            <i class="fa-solid fa-angle-right"></i>
            <a href="/quanLyTacGia">Quản lý tác giả</a>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="left_menu timkiem" style="padding: 0 !important;">
                    <div class="theloai">
                        <h5>Quản lý</h5>
                    </div>
                    <div class="dstheloai">
                        <ul>
                            <li><a href="/quanlysach/1">Sách</a></li>
                            <li><a href="/quanLyTheLoai">Thể loại</a></li>
                            <li><a href="/quanLyNhaXuatBan">Nhà xuất bản</a></li>
                            <li><a href="/quanLyTacGia">Tác giả</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div id="ql-theloai">
                    <div class="timkiem mb-2">
                        <div class="input-group them-moi-the-loai">
                            <a onclick="HienFormThemTacGia()" class="nut-them-moi">
                                <button class="nutbam">Thêm tác giả mới</button>
                            </a>
                            <form action="/quanLyTacGia" method="post">
                                <div class="input-group hide-element" id="themtheloai" style="width: 500px;">
                                    <input class="form-control" placeholder="Tên tác giả..."
                                        name="tentacgia" style="width: 300px;">
                                    <button type="submit" class="nutbam">Lưu</button>
                                </div>
                            </form>
                        </div>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên tác giả</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for( let index = 0; index < authors.length; index++ ) { %>
                                    <tr>
                                        <th scope="row"><%= index + 1 %></th>
                                        <td><%= authors[index].name %></td>
                                        <td>
                                            <a class="delete-author" data-id-tacgia="<%= authors[index].id %>">
                                                <i class="fa-solid fa-trash-can action-book xoa" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="Xóa tác giả"></i>
                                            </a>
                                            <a class="edit-author" data-ten-tacgia="<%= authors[index].name %>"
                                            data-id-tacgia="<%= authors[index].id %>">
                                                <i class="fa-solid fa-pen-to-square action-book" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="Chỉnh sửa"></i>
                                            </a>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Chỉnh sửa tác giả</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <form action="/quanLyTacGia?_method=PUT" method="post">
                        <div class="modal-body">
                            <div>
                                <labelclass="form-label">Tên tác giả</label>
                                    <input type="text" name="idTacGia" id="idTacGia" class="form-control" style="display: none;">
                                    <input type="text" name="tenTacGia" id="tenTacGia" class="form-control" placeholder="Tên tác giả...">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="nutbamred" data-bs-dismiss="modal">Hủy</button>
                            <button type="submit" class="nutbam">Lưu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% if (themThanhCong) { %>
            <script>
                Swal.fire('Thêm thành công!','Thêm tác giả thành công!','success')
            </script> 
        <% } %>
        <% if (suaThanhCong) { %>
            <script>
                Swal.fire('Sửa thành công!','Chỉnh sửa tác giả thành công!','success')
            </script> 
        <% } %>
        <% if (xoaThanhCong) { %>
            <script>
                Swal.fire('Xóa thành công!','Xóa tác giả thành công!','success')
            </script> 
        <% } %>
    </div>
    <script src="/javascript/quanLyTacGia.js"></script>
    <script src="/javascript/showToolTip.js"></script>

    <%- include('../particals/footer') %>
