<%- contentFor('head') %>
    <title>Thêm mới sách</title>
<%- contentFor('body') %>
<%- include('../particals/header') %>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left_menu timkiem" style="padding: 0 !important;">
                    <div class="theloai">
                        <h5>Quản lý</h5>
                    </div>
                    <div class="dstheloai">
                        <ul>
                            <li><a href="/quanlysach/1">Sách</a></li>
                            <li><a href="/quanlytheloai">Thể loại</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="timkiem mb-2" id="themsuasach">
                    <form action="/quanlysach/create" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-4 position-relative">
                                <div class="position-absolute top-50 start-50 translate-middle">
                                    <img id="anhBia" class="anhBiaSach" src="/images/BiaSachMau.png"
                                        alt="Bìa sách mặc định">
                                </div>
                                <input type="file" id="imgUpload" style="display: none;" name="anh"
                                    onchange="ShowImage(event)" accept="image/png, image/jpeg">
                                <button id="chonAnh" onclick="OpenImgDialog()" type="button"
                                    class="nutbam position-absolute bottom-0 start-50 translate-middle-x">Chọn
                                    ảnh</button>
                            </div>
                            <div class="col-sm-8" id="themsuasach">
                                <div class="row">
                                    <div class="position-relative mb-3">
                                        <p class="title_themmoi">Thêm sách mới</p>
                                    </div>
                                    <div class="thongtincanhan">

                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Tên sách</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="tensach"
                                                    name="tensach" placeholder="Búp bê Rangged Ann">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Tác giả</label>
                                            <div class="col-sm-10">
                                                <select class="form-select" id="tacgia" name="tacgia">
                                                    <option id="default" disabled selected hidden>Chọn tác giả
                                                    </option>
                                                    <% authors.forEach(element=> { %>
                                                        <option value="<%=element.id%>">
                                                            <%= element.name %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">NXB</label>
                                            <div class="col-sm-10">
                                                <select class="form-select" id="nhaxuatban" name="nhaxuatban">
                                                    <option id="default" disabled selected hidden>Chọn nhà xuất
                                                        bản</option>
                                                    <% bookPublishers.forEach(element=> { %>
                                                        <option value="<%=element.id%>">
                                                            <%= element.name %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Thể loại</label>
                                            <div class="col-sm-10">
                                                <select class="form-select" id="theloai" name="theloai">
                                                    <option id="default" disabled selected hidden>Chọn thể
                                                        loại</option>
                                                    <% categories.forEach(element=> { %>
                                                        <option value="<%=element.id%>">
                                                            <%= element.name %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Số trang</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" id="sotrang" min="1"
                                                    name="sotrang" placeholder="Nhập số lượng">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Năm XB</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" id="namxuatban"
                                                    min="1" name="namxuatban" placeholder="Nhập năm xuất bản">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Giá bìa</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" id="giabia" min="1"
                                                    name="giabia" placeholder="Nhập giá bìa">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Số lượng</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control" id="soluong" min="1"
                                                    name="soluong" placeholder="Nhập số lượng">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Mô tả</label>
                                            <div class="col-sm-10">
                                                <textarea type="text" class="form-control" id="mota" name="mota"
                                                    placeholder="Nhập mô tả"></textarea>
                                            </div>
                                        </div>
                                        <div class="nut-xac-nhan-them-moi">
                                            <button type="submit" class="nutbam">Lưu</button>
                                            <button type="button" class="nutbamred">Hủy</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascript/TrangQuanLySach.js"></script>
<%- include('../particals/footer') %>